<div class="panel panel-info">
  <div class="panel-heading" ng-click="$ctrl.setshow({id:$ctrl.user._id})" ui-sref="userCartItem({userId:$ctrl.user._id})">
    <img ng-src="{{$ctrl.user.avatarUrl}}" alt="{{$ctrl.user.fullName}}">
    <h3 class="panel-title">{{$ctrl.user.fullName}}</h3>
    <button class="destroy" ng-click="$ctrl.remove({user:$ctrl.user})"></button>
  </div>
  <div class="panel-body" ng-if="$ctrl.show == $ctrl.user._id">
    <div class="row">
      <div class=" col-md-9 col-lg-9 ">
        <table class="table table-user-information">
          <tbody>
          <tr><td>Дата рождения</td><td>{{$ctrl.user.birthdate}}</td></tr>
          <tr><td>Пол</td><td>{{$ctrl.user.gender}}</td></tr>
          <tr><td>Адрес</td><td>{{$ctrl.user.address}}</td></tr>
          <tr><td>Email</td><td><a ng-href="mailto:{{$ctrl.user.email}}">{{$ctrl.user.email}}</a></td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>