<form ng-submit="$ctrl.addUser()" >
      <input class="form-control" placeholder="Name" ng-model="$ctrl.newFullName"></input>
      <input class="form-control" placeholder="E-mail" ng-model="$ctrl.newEmail"></input>
      <input class="form-control" placeholder="AvatarURL" ng-model="$ctrl.newAvatarUrl"></input>
      <input class="form-control" placeholder="Birthdate" ng-model="$ctrl.newBirthdate"></input>
      <input class="form-control" placeholder="Gender" ng-model="$ctrl.newGender"></input>
      <input class="form-control" placeholder="Address" ng-model="$ctrl.newAddress"></input>
      <button ng-submit="$ctrl.addUser()" class="btn btn-primary">OK</button>
</form>
 <div class="container">
   <div class="row">
     <div class="col-md-6">
       <div ng-repeat = "user in $ctrl.users">
         <user-cart-item user="user" remove="$ctrl.removeUser(user)"></user-сart-item>
       </div>
       
     </div>
   </div>
 </div>